@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    border: 2px solid red;
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 23px;
}
nav ul li a:hover{
    color: rgb(220, 224, 233);
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.slider{
    width: 1200vw;
    /* margin: 0 185px; */
    margin: 12px auto;
    overflow: hidden;
}
.card{
        max-width: 1487px;
        margin: auto;
}
.cards{
    display: flex;
    /* justify-content: center; */
    overflow: scroll;
}
.card-item{
    display: inline-flex;
    justify-content: center;
     flex-direction: column;
     margin: 0 15px;
}
.card h2{
    font-family: 'Lato', sans-serif;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}